body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #7a261a;
}

nav li:last-child a:hover {
  background: #fe5f1e;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

.bakso {
  width: 42%;
}

.comp-login {
  color: #7a261a;
}

.comp-login2 {
  background: #7a261a;
}

section.hero {
  background: #f8f8f8;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

section .tombol {
  margin-top: 11px;
  width: 100px;
  transition: all 0.3s ease-in-out;
  background: #7a261a;
}
section .tombol:hover {
  background: #fe5f1e;
}

.size {
  background: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #7a261a;
  color: #7a261a;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #7a261a;
  color: #fff;
}

.gambar-mie {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
.gambar-mie:hover {
  transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
}

h1 .emoji {
  display: inline-block;
  width: 40px;
  margin-bottom: 6px;
  margin-left: 3px;
}

section.cart {
  background: #f8f8f8;
}
section.cart .amount {
  color: #7a261a;
}
section.cart .cart1 {
  color: #7a261a;
}
section.cart .mie-list .harga {
  color: #7a261a;
}

.tombol-cart {
  transition: all 0.3s ease-in-out;
  background: #7a261a;
}
.tombol-cart:hover {
  background: #fe5f1e;
}

section.login {
  background: #f8f8f8;
  height: 610px;
}
