<section class="orders light-section mt-24">
  <div class="container mx-auto">
    <h1 class="text-lg mb-4">Semua Pesanan</h1>
    <table class="w-full table-auto bg-transparent">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left text-white font-medium">Pesanan</th>
          <th class="px-4 py-2 text-left text-white font-medium">Customer</th>
          <th class="px-4 py-2 text-left text-white font-medium">Alamat</th>
          <th class="px-4 py-2 text-left text-white font-medium">Status</th>
          <th class="px-4 py-2 text-left text-white font-medium">Waktu</th>
        </tr>
      </thead>
      <tbody id="orderTableBody" class="text-white"></tbody>
    </table>
  </div>
</section>
