@import './variable';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $merah;
}
nav li:last-child a:hover {
  background: $primary;
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

.btn-login-daftar {
  transition: $smooth;
  &:hover {
    background: $primary;
  }
}

.bakso {
  width: 39%;
}

.comp-login {
  color: $merah;
}

.comp-login2 {
  background: $merah;
}

section.hero {
  background: $secondary;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

section .tombol {
  margin-top: 11px;
  width: 100px;
  transition: $smooth;
  background: $merah;
  &:hover {
    background: $primary;
  }
}

.size {
  background: $secondary;
}

.add-to-cart {
  border: 2px solid $merah;
  color: $merah;
  transition: $smooth;
  &:hover {
    background: $merah;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.gambar-mie {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  &:hover {
    transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
  }
}

h1 .emoji {
  display: inline-block;
  width: 40px;
  margin-bottom: 6px;
  margin-left: 3px;
}

section.cart {
  background: $secondary;
  .amount {
    color: $merah;
  }
  .cart1 {
    color: $merah;
  }
  .mie-list .harga {
    color: $merah;
  }
}

.tombol-cart {
  transition: $smooth;
  background: $merah;
  &:hover {
    background: $primary;
  }
}

section.login {
  background: $secondary;
  height: 610px;
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}
