<section class="cart py-16">
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-grey-300 pb-4">
      <img class="cart1" src="/img/cart-black.png" alt="" />
      <h1 class="cart1 font-bold ml-4 text-2xl">Keranjang saya</h1>
    </div>
    <div class="mie-list">
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/mienobg1.png" alt="" />
        <div class="flex-1 ml-4">
          <h1>Mie Kuah</h1>
          <span>PEDAS</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="harga font-bold text-lg">Rp.10,000</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/mienobg2.png" alt="" />
        <div class="flex-1 ml-4">
          <h1>Mie Yamin Pasta</h1>
          <span>ASIN MANIS</span>
        </div>
        <span class="flex-1">2 pcs</span>
        <span class="harga font-bold text-lg">Rp.15,000</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-24" src="/img/mienobg3.png" alt="" />
        <div class="flex-1 ml-4">
          <h1>Mie Kuah Bakso</h1>
          <span>SEDANG</span>
        </div>
        <span class="flex-1">1 pcs</span>
        <span class="harga font-bold text-lg">Rp.14,000</span>
      </div>
    </div>
    <hr />
    <div class="text-right py-4">
      <div>
        <span class="text-lg font-bold">Total pembelian:</span>
        <span class="amount text-2xl font-bold ml-2">Rp.39,000</span>
      </div>
      <div>
        <form action="" class="mt-6">
          <input type="text" class="border border-gray-400 p-2 w-1/2 mb-4" placeholder="Nomor telepon" />
          <input type="text" class="border border-gray-400 p-2 w-1/2" placeholder="Alamat Lengkap" />
          <div>
            <button class="tombol-cart px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Pesan sekarang!</button>
          </div>
        </form>
      </div>
      <div>
        <!--<a href="" class="tombol-cart inline-block cursor-pointer px-6 py-2 rounded-full text-white font-bold mt-6">Masuk untuk melanjutkan</a>-->
      </div>
    </div>
  </div>
  <!--<div class="empty-cart py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Keranjang Masih Kosong <img class="emoji" src="/img/emoji.png" alt="" /></h1>
      <p class="text-gray-500 text-lg mb-12">
        Kamu mungkin belum memesan mie.<br />
        Untuk memesan mie, silahkan buka halaman utama.
      </p>
      <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="cart" />
      <a href="/" class="tombol-cart inline-block px-6 py-2 rounded-full text-white font-bold mt-12">Kembali</a>
    </div>
  </div> -->
</section>
